/* for iPhone-sized devices */
@media only screen and (max-device-width: 480px) {
    #maindiv{
      width:100%;
    }
}

/* for normal computer browsers */
@media screen and (min-width: 800px) {
    #maindiv{
      width:50%;
    }
}

nav {
    text-align: center;
}

h1 {
    text-align: center;
    padding-top: 10vh;
}

h1 a:link {
    color: white;
}

h1 a:visited {
    color: white;
}

#maindiv{
    margin:auto;

    background-color:darkblue;
    color:white;
    border-radius:20px;
    border:2px solid black;
    padding:20px;
    font-family:Verdana;
    text-align:left;
    font-size: 26px;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

table {
    border-collapse: collapse;
    margin-left:auto;
    margin-right:auto;
}

td, th {
        border: 1px solid #999;
        padding: 0.5rem;
        text-align: left;
        font-size: 22px;
        color:white;
}


    
button {
    font-size: 30px!important;

}

nav {width: 100%;}

.goog-te-banner-frame.skiptranslate { display: none !important;} 
body { top: 0px !important; }

#goog-gt-tt{display: none !important; top: 0px !important; } 
.goog-tooltip skiptranslate{display: none !important; top: 0px !important; } 
.activity-root { display: hide !important;} 
.status-message { display: hide !important;}
.started-activity-container { display: hide !important;}

